*
{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{width:.25rem}
body::-webkit-scrollbar-track{background:#161618}
body::-webkit-scrollbar-thumb{background:#3b3333}

:root
{
    background-image:url(backgroundpic1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin:0;padding:0

    
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 20px;
}



.main-nav li.nav-item
{
    display: inline-block;
}

.main-nav li.nav-item a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.main-nav li.nav-item a:hover
{
    border: 2px solid white;
}

.main-nav li.nav-item
{
    float: left;
    list-style: none;
    position: relative;
}

.main-nav li.nav-item ul.dropdown
{
    display: none;
    position: absolute;
    top: 35px;
    background-color: #1c1c1b;
    padding: 20px 10px;
    z-index: 200;
    line-height: 10mm;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
}

.main-nav li.nav-item:hover ul
{
    display: block;
}

.main-nav li.nav-item ul.dropdown 
{
    width: 250px;
}

.main-nav li.nav-item ul.dropdown li.dropdown-item a
{
    width: 100%;
    padding: 8px 14px;
}



.logo img
{
    width: 60px;
    height: auto;
    float: left;
    margin-top: 10px;
    padding-left: 50px;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 100%;
    margin: auto;
    padding-right: 30px;
    background-color: #1c1c1b;
    height: 70px;
}


.hero
{
    position: absolute;
    width: 100%;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;

}

h1
{
    color: white;
    font-size: 40px;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;

}

.hero p1
{
    color: white;
    font-size: 30px;
    float: left;
    font-family: 'Raleway', sans-serif;
    margin-left: 10rem;
    margin-right: 10rem;
}

.button
{
    margin-top: 150px;
}

.btn
{
    color: white;
    text-decoration: none;
    font-size: 40px;
    border: 3px solid white;
    padding: 10px 30px;
}

.btn-one
{
    font-family: 'Poppins', sans-serif;
}

.btn-one:hover
{
    background-color: #1c1c1b;
    transition: all 0.05s ease-in;
}

.hero hr.sep-2 {
    border: 0; 
    height: 1px;
    margin-top: 7rem;
    max-width: 100%; 
    background-image: linear-gradient(to right, #f0f0f0, #747474);
}

h2
{
    color: white;
    font-size: 40px;
    margin-top: 4rem;
    margin-bottom: 10rem;
    font-family: 'Poppins', sans-serif;

}

.hero p2
{
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;



}

.hero hr.sep-3 {
    border: 0; 
    height: 1px;
    margin-top: 20rem;
    max-width: 100%; 
    background-image: linear-gradient(to right, #f0f0f0, #747474);
}

a.anchor1
{
    display: block;
    position: relative;
    top: 40rem;
    visibility: visible;
}